[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo.git
[submodule "themes/hugo-swift-theme"]
	path = themes/hugo-swift-theme
	url = https://github.com/onweru/hugo-swift-theme.git
[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/devqurious/aether
[submodule "themes/hugo-dynamic-tabs"]
	path = themes/hugo-dynamic-tabs
	url = https://github.com/devqurious/hugo-dynamic-tabs
[submodule "themes/hugo-theme-bootstrap4-blog"]
	path = themes/hugo-theme-bootstrap4-blog
	url = https://github.com/devqurious/hugo-theme-bootstrap4-blog
